In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# load super bowl data
super_bowl_file = "Resources/Super_Bowl.csv"
super_bowl_df = pd.read_csv(super_bowl_file)
super_bowl_df.head()

,Date,SB,Attendance,QB Winner,Coach Winner,Winner,Winning Pts,QB Loser,Coach Loser,Loser,...,City,State,Point Difference,Referee,Umpire,Head Linesman,Line Judge,Field Judge,Back Judge,Side Judge
0,15-Jan-67,I,61946,Bart Starr,Vince Lombardi,Green Bay Packers,35,Len Dawson,Hank Stram,Kansas City Chiefs,...,Los Angeles,California,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14-Jan-68,II,75546,Bart Starr,Vince Lombardi,Green Bay Packers,33,Daryle Lamonica,John Rauch,Oakland Raiders,...,Miami,Florida,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12-Jan-69,III,75389,Joe Namath,Weeb Ewbank,New York Jets,16,"Earl Morrall, Johnny Unitas",Don Shula,Baltimore Colts,...,Miami,Florida,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11-Jan-70,IV,80562,"Len Dawson, Mike Livingston",Hank Stram,Kansas City Chiefs,23,Joe Kapp,Bud Grant,Minnesota Vikings,...,New Orleans,Louisiana,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17-Jan-71,V,79204,"Earl Morrall , Johnny Unitas",Don McCafferty,Baltimore Colts,16,Craig Morton,Tom Landry,Dallas Cowboys,...,Miami,Florida,3,Norm Schachter,Paul Trepinski,Ed Marion,Jack Fette,Fritz Graf,Hugh Gamber,NaN

In [3]:
# clean sb df (make sb # index, drop unneccesary columns, concatenate city/state columns and rename as needed)
cleaned_sb_df = super_bowl_df.drop(["Date", "QB  Winner", "Coach Winner", "Coach Loser", "Referee", "Umpire", "Head Linesman", "Line Judge", "Field Judge", "Back Judge", "Side Judge", "Point Difference", "QB Loser"], axis =1)
cleaned_sb_df = cleaned_sb_df[["SB", "Attendance", "Winner", "Winning Pts", "Loser", "Losing Pts", "MVP", "Stadium", "City", "State"]]
cleaned_sb_df = cleaned_sb_df.rename(columns={"SB":"sb", "Attendance":"attendance", "Winner":"winner", "Winning Pts":"winning_pts", "Loser":"loser", "Losing Pts":"losing_pts", "MVP":"mvp", "Stadium":"stadium", "City":"city", "State":"state"})
cleaned_sb_df['city_state'] = cleaned_sb_df['city'] + [' '] + cleaned_sb_df['state']
cleaned_sb_df=cleaned_sb_df.drop(["city", "state"], axis=1)
cleaned_sb_df.reset_index(drop=True)
cleaned_sb_df.head()
cleaned_sb_df.head()

,sb,attendance,winner,winning_pts,loser,losing_pts,mvp,stadium,city_state
0,I,61946,Green Bay Packers,35,Kansas City Chiefs,10,Bart Starr,Memorial Coliseum,Los Angeles California
1,II,75546,Green Bay Packers,33,Oakland Raiders,14,Bart Starr,Orange Bowl,Miami Florida
2,III,75389,New York Jets,16,Baltimore Colts,7,Joe Namath,Orange Bowl,Miami Florida
3,IV,80562,Kansas City Chiefs,23,Minnesota Vikings,7,Len Dawson,Tulane Stadium,New Orleans Louisiana
4,V,79204,Baltimore Colts,16,Dallas Cowboys,13,Chuck Howley,Orange Bowl,Miami Florida

In [4]:
# load us cities needed for lat/long data 
us_cities_file = "Resources/uscities.csv"
us_cities_df = pd.read_csv(us_cities_file)
us_cities_df.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947,84.0,polygon,False,True,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441,163.0,polygon,False,True,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507,622.0,polygon,False,True,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591,131.0,polygon,False,True,America/Los_Angeles,3,98223 98258 98270,1840041959

In [5]:
# clean us cities df (drop unneccesary columns, concatenate city/state columns and rename as needed)
cleaned_us_cities_df = us_cities_df[["city", "state_name", "lat", "lng"]]
cleaned_us_cities_df = cleaned_us_cities_df.rename(columns={"state_name":"state"})
cleaned_us_cities_df['city_state'] = cleaned_us_cities_df['city'] + [' '] + cleaned_us_cities_df['state']
cleaned_us_cities_df=cleaned_us_cities_df.drop(["city", "state"], axis=1)
cleaned_us_cities_df = cleaned_us_cities_df[['city_state','lat','lng']]
cleaned_us_cities_df.head()
cleaned_us_cities_df.head()

                city_state      lat       lng
0   South Creek Washington  46.9994 -122.3921
1        Roslyn Washington  47.2507 -121.0989
2       Sprague Washington  47.3048 -117.9713
3    Gig Harbor Washington  47.3352 -122.5968
4  Lake Cassidy Washington  48.0639 -122.0920

In [6]:
merged_superbowl_df = pd.merge(cleaned_sb_df, cleaned_us_cities_df, on='city_state', how='left')
superbowl = merged_superbowl_df.dropna()
superbowl

,sb,attendance,winner,winning_pts,loser,losing_pts,mvp,stadium,city_state,lat,lng
0,I,61946,Green Bay Packers,35,Kansas City Chiefs,10,Bart Starr,Memorial Coliseum,Los Angeles California,34.1139,-118.4068
1,II,75546,Green Bay Packers,33,Oakland Raiders,14,Bart Starr,Orange Bowl,Miami Florida,25.7839,-80.2102
2,III,75389,New York Jets,16,Baltimore Colts,7,Joe Namath,Orange Bowl,Miami Florida,25.7839,-80.2102
3,IV,80562,Kansas City Chiefs,23,Minnesota Vikings,7,Len Dawson,Tulane Stadium,New Orleans Louisiana,30.0687,-89.9288
4,V,79204,Baltimore Colts,16,Dallas Cowboys,13,Chuck Howley,Orange Bowl,Miami Florida,25.7839,-80.2102
5,VI,81023,Dallas Cowboys,24,Miami Dolphins,3,Roger Staubach,Tulane Stadium,New Orleans Louisiana,30.0687,-89.9288
6,VII,90182,Miami Dolphins,14,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles California,34.1139,-118.4068
7,VIII,71882,Miami Dolphins,24,Minnesota Vikings,7,Larry Csonka,Rice Stadium,Houston Texas,29.7869,-95.3905
8,IX,80997,Pittsburgh Steelers,16,Minnesota Vikings,6,Franco Harris,Tulane Stadium,New Orleans Louisiana,30.0687,-89.9288
9,X,80187,Pittsburgh Steelers,21,Dallas Cowboys,17,Lynn Swann,Orange Bowl,Miami Florida,25.7839,-80.2102
10,XI,103438,Oakland Raiders,32,Minnesota Vikings,14,Fred Biletnikoff,Rose Bowl,Pasadena California,34.1597,-118.1390
11,XII,76400,Dallas Cowboys,27,Denver Broncos,10,"Harvey Martin, Randy White",Superdome,New Orleans Louisiana,30.0687,-89.9288
12,XIII,79484,Pittsburgh Steelers,35,Dallas Cowboys,31,Terry Bradshaw,Orange Bowl,Miami Florida,25.7839,-80.2102
13,XIV,103985,Pittsburgh Steelers,31,Los Angeles Rams,19,Terry Bradshaw,Rose Bowl,Pasadena California,34.1597,-118.1390
14,XV,76135,Oakland Raiders,27,Philadelphia Eagles,10,Jim Plunkett,Louisiana Superdome,New Orleans Louisiana,30.0687,-89.9288
15,XVI,81270,San Francisco 49ers,26,Cincinnati Bengals,21,Joe Montana,Pontiac Silverdome,Pontiac Michigan,42.6493,-83.2878
16,XVII,103667,Washington Redskins,27,Miami Dolphins,17,John Riggins,Rose Bowl,Pasadena California,34.1597,-118.1390
17,XVIII,72920,Los Angeles Raiders,38,Washington Redskins,9,Marcus Allen,Tampa Stadium,Tampa Florida,27.9942,-82.4451
18,XIX,84059,San Francisco 49ers,38,Miami Dolphins,16,Joe Montana,Stanford Stadium,Palo Alto California,37.3913,-122.1467
19,XX,73818,Chicago Bears,46,New England Patriots,10,Richard Dent,Louisiana Superdome,New Orleans Louisiana,30.0687,-89.9288
20,XXI,101063,New York Giants,39,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena California,34.1597,-118.1390
21,XXII,73302,Washington Redskins,42,Denver Broncos,10,Doug Williams,Jack Murphy Stadium,San Diego California,32.8312,-117.1225
22,XXIII,75129,San Francisco 49ers,20,Cincinnati Bengals,16,Jerry Rice,Joe Robbie Stadium,Miami Gardens Florida,25.9433,-80.2426
23,XXIV,72919,San Francisco 49ers,55,Denver Broncos,10,Joe Montana,Louisiana Superdome,New Orleans Louisiana,30.0687,-89.9288
24,XXV,73813,New York Giants,20,Buffalo Bills,19,Ottis Anderson,Tampa Stadium,Tampa Florida,27.9942,-82.4451
25,XXVI,63130,Washington Redskins,37,Buffalo Bills,24,Mark Rypien,Metrodome,Minneapolis Minnesota,44.9635,-93.2678
26,XXVII,98374,Dallas Cowboys,52,Buffalo Bills,17,Troy Aikman,Rose Bowl,Pasadena California,34.1597,-118.1390
27,XXVIII,72817,Dallas Cowboys,30,Buffalo Bills,13,Emmitt Smith,Georgia Dome,Atlanta Georgia,33.7627,-84.4225
28,XXIX,74107,San Francisco 49ers,49,San Diego Chargers,26,Steve Young,Joe Robbie Stadium,Miami Gardens Florida,25.9433,-80.2426
29,XXX,76347,Dallas Cowboys,27,Pittsburgh Steelers,17,Larry Brown,Sun Devil Stadium,Tempe Arizona,33.3881,-111.9318
30,XXXI,72301,Green Bay Packers,35,New England Patriots,21,Desmond Howard,Louisiana Superdome,New Orleans Louisiana,30.0687,-89.9288
31,XXXII,68912,Denver Broncos,31,Green Bay Packers,24,Terrell Davis,Qualcomm Stadium,San Diego California,32.8312,-117.1225
32,XXXIII,74803,Denver Broncos,34,Atlanta Falcons,19,John Elway,Pro Player Stadium,Miami Gardens Florida,25.9433,-80.2426
33,XXXIV,72625,St. Louis Rams,23,Tennessee Titans,16,Kurt Warner,Georgia Dome,Atlanta Georgia,33.7627,-84.4225
34,XXXV,71921,Baltimore Ravens,34,New York Giants,7,Ray Lewis,Raymond James Stadium,Tampa Florida,27.9942,-82.4451
35,XXXVI,72922,New England Patriots,20,St. Louis Rams,17,Tom Brady,Louisiana Superdome,New Orleans Louisiana,30.0687,-89.9288
36,XXXVII,67603,Tampa Bay Buccaneers,48,Oakland Raiders,21,Dexter Jackson,Qualcomm Stadium,San Diego California,32.8312,-117.1225
37,XXXVIII,71525,New England Patriots,32,Carolina Panthers,29,Tom Brady,Reliant Stadium,Houston Texas,29.7869,-95.3905
38,XXXIX,78125,New England Patriots,24,Philadelphia Eagles,21,Deion Branch,Alltel Stadium,Jacksonville Florida,30.3322,-81.6749
39,XL,68206,Pittsburgh Steelers,21,Seattle Seahawks,10,Hines Ward,Ford Field,Detroit Michigan,42.3834,-83.1024
40,XLI,74512,Indianapolis Colts,29,Chicago Bears,17,Peyton Manning,Dolphin Stadium,Miami Gardens Florida,25.9433,-80.2426
41,XLII,71101,New York Giants,17,New England Patriots,14,Eli Manning,University of Phoenix Stadium,Glendale Arizona,33.5797,-112.2258
42,XLIII,70774,Pittsburgh Steelers,27,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa Florida,27.9942,-82.4451
43,XLIV,74059,New Orleans Saints,31,Indianapolis Colts,17,Drew Brees,Sun Life Stadium,Miami Gardens Florida,25.9433,-80.2426
44,XLV,103219,Green Bay Packers,31,Pittsburgh Steelers,25,Aaron Rodgers,Cowboys Stadium,Arlington Texas,32.6998,-97.1251
45,XLVI,68658,New York Giants,21,New England Patriots,17,Eli Manning,Lucas Oil Stadium,Indianapolis Indiana,39.7771,-86.1458
46,XLVII,71024,Baltimore Ravens,34,San Francisco 49ers,31,Joe Flacco,Mercedes-Benz Superdome,New Orleans Louisiana,30.0687,-89.9288
47,XLVIII,82529,Seattle Seahawks,43,Denver Broncos,8,Malcolm Smith,MetLife Stadium,East Rutherford New Jersey,40.8179,-74.0854
48,XLIX,70288,New England Patriots,28,Seattle Seahawks,24,Tom Brady,University of Phoenix Stadium,Glendale Arizona,33.5797,-112.2258
49,L,71088,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara California,37.3646,-121.9680
50,LI,70807,New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston Texas,29.7869,-95.3905
51,LII,67612,Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis Minnesota,44.9635,-93.2678

In [7]:
connection_string = "postgres:postgres@localhost:5432/Project_2"
engine = create_engine(f'postgresql://{connection_string}')

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
# Confirm tables
engine.table_names()

In [ ]:
superbowl.to_sql(name='superbowl', con=engine, if_exists='append', index=False)